* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family:  Darker Grotesque;
    line-height: 1.6; 
    background-color: #fffdfd;
    color: #333;
}

.container {
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 20px; 
}

/* Cabeçalho */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    border-block: solid #8F589A 5px;
    margin-bottom: 80px
}

.navbar a {
    text-decoration: none;
    font-size: 18px;
    color: #8F589A;
}

/* Conteúdo-p1 */
.conteudo-p1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    text-align: center; 
    font-size: 18px;
}

.inicial {
    display: flex;
    align-items: center;
    flex-direction: column;    
    margin-top: 35px;  
}

h2 {
    font-size: 30px;
    color: #8F589A;
}

p{
    font-size: 18px;
}

.saiba-mais {
    all: unset; 
    text-decoration: none;
    background-color: #D7CBD8;
    color: #8F589A;
    border-radius: 10px;
    padding: 3px 20px;
    cursor: pointer;
    margin: 25px;  
}

.foto-principal {
    position: relative;
    width: 300px;
    height: 300px;
    background-color: #e5d8f0;
    border-radius: 20px;
    padding: 20px;
}

.redes-sociais {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    gap: 10px;
}

.redes-sociais a {
    display: flex;
    align-items: center;
    height: auto;
}

.foto-daniele {
    position: absolute;
    bottom: -30px;
    right: -30px;
    width: 270px;
    height: auto;
}

/* Conteúdo p2 */
.conteudo-p2 {
    margin-top: 100px;
    border-top: 5px solid #8F589A;
}

h1{
    margin-top: 25px;
    color: #8F589A;
    text-decoration: underline #D7CBD8;
}

.sobre-mim {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.container-s{
    display: flex;
    justify-content: center;
}

.container-slide {
    width: 50vw;
    white-space: nowrap;
    overflow: hidden;
    margin-top: 50px;
}

.paginas-slide {
    display: inline-block;
    animation: anima 5s linear infinite;
}

@keyframes anima {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

/* Projetos */
.conteudo-p3 {
    margin-top: 80px;
    border-top: 5px solid #8F589A;
}

.projeto-titulo {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.img-projetos{
    margin-top: 45px;
    display: flex;
    justify-content: space-around;
}

.img-projetos img{
    border-radius: 10px;
    box-shadow: 0 2px 10px #D9D9D9;
}

.projetos-texto{
    display: flex;
    justify-content: center;
    text-align: center;
}

.projetos-git{
    margin-top: 30px;
    justify-content: center;
}

.chega-mais{
    margin-top: 15px;
    max-width: 150px;
    background-color: #D7CBD8;
    color: #8F589A;
    padding: 10px;
    border: #8F589A;
    border-radius: 4px;
    box-shadow: 0 2px 10px #D9D9D9;
    cursor: pointer;
}


/* Curiosidades */
.conteudo-p4 {
    margin-top: 100px;
    border-top: 5px solid #8F589A;
}

.curiosidade-titulo {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.img-curiosidades{
    margin-top: 45px;
    display: flex;
    justify-content: space-around;
}

.img-curiosidades img{
    border-radius: 10px;
    box-shadow: 0 2px 10px #D9D9D9;
}


/* Contato */
.contato {
    margin-top: 50px;
    border-top: 5px solid #8F589A;
    display: flex; 
    flex-direction: column;
}

.contato-titulo {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.contato-dados {
    display: flex;
    justify-content: center;
}

.contato-dados label {
    color: #8F589A;
    font-size: 14px;
}

.contato-dados input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: #8F589A;
    box-shadow: 0 2px 10px #D9D9D9;
    background-color: #D7CBD8;
}

.contato-dados button {
    background-color: #D7CBD8;
    color: #8F589A;
    padding: 10px;
    border: #8F589A;
    border-radius: 4px;
    box-shadow: 0 2px 10px #D9D9D9;
    cursor: pointer;
}

.contato-dados textarea {
    background-color: #D9D9D9;
    color: #333;
    border: #8F589A;
    border-radius: 4px;
    box-shadow: 0 2px 10px #D9D9D9;
}

/* Rodapé */
footer {
    padding: 10px 0;
    margin-top: 40px; 
    display: flex;
    justify-content: center;
    text-align: center;
}

.info-rodape{
    display: flex;
    align-items: center;
    margin: 0;
    font-size: 0.9rem;  
}
